 @font-face {
   font-family: 'MyFont';
   src:  url('./test.woff2') format('woff2'),
         url('./test.woff') format('woff');
   font-weight: 600;
   font-style: normal;
  }


.hello {
    color: red;
    background: url('./703.jpg');
    /* background-repeat: no-repeat; */
    width: 300px;
    height: 300px;
    font-family: 'MyFont';
    font-size: 40px;
  }
  